<h1>Welcome to Barber Shop</h1>
<p>We are open!</p>
<form action ="/" method="post">
  <input type="text" name="user_name"/>
  <input type="text" name="phone"/>
  <input type="text" name="date_time"/>
  <input type="submit"/>
</form>